.smart-lnpr-login-card{
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(5px);
    border: 5px solid rgba(255, 255, 255, 0.4); /* Glass border */
    border-top: 5px solid rgba(255, 255, 255, 0.6); /* Slightly stronger top border */
    border-left: 5px solid rgba(255, 255, 255, 0.6); 
    padding-bottom: 3rem;
    position: relative;
    perspective: 1000px; 
    min-height: 350px;
  
}
.smart-lnpr-login-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}




 .smart-lnpr-login-card-inner-active .flip-card-front {
  
    /* Flip the card on hover */
    display: none;
}
.smart-lnpr-login-card-inner-active .flip-card-back{
    display: block;
}
.flip-card-back{
    display: none;
}

.smart-lnpr-login-button{
    /* width: 200px; */
    background-color: #019ee3;
    font-family: roboto;
    border-radius: 10px;
    width: 100%;
    color: #fff
    ;
}
.smart-lnpr-login-card .smart-border-label-input .label{
    color: #019ee3;
 }
 .smart-lnpr-login-card .smart-border-label-input .input {
    border: 2px solid #019ee3;
    border-radius: 8px;
 }

 .smart-lnpr-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #007bff;   }
  
  .smart-lnpr-login-sub-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    min-height: 500px !important;
} 
  .smart-forgot-text {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .smart-forgot-text:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .smart-lnpr-login-sub-container {
      width: 90%;
      padding: 15px;
    }
  }
  .smart-lnpr-login-sub-container-image{
    border-radius: 10px;
  }