@import "../index.scss";

.efl-main-sidenav {
}

.smart-efl-container{
  background: $body-background-image;
 
  background-size: 100% 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

.efl-main-header {
  left: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  transition: left 0.3s ease;
  background:  $body-background-image;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.15);
  background-size: cover;
  z-index: 956;
  &.expanded {
    width: calc(100% - 200px);
    left: 200px;


    
    @media screen and (max-width: 768px) {
      left: 0;
      width: 100%;
    }

    // Extra small devices (e.g. phones)
    @media screen and (max-width: 480px) {
      left: 0;
      width: 100%;
    }
  }
  .navbar {
    // border-bottom: 1px solid #91076d;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color:$white-color;
  }
  @media screen and (max-width: 768px) {
    left: 0;
    width: 100%;
  }

  // Extra small devices (e.g. phones)
  @media screen and (max-width: 480px) {
    left: 0;
    width: 100%;
  }
}

.efl-main-div {
  margin-left: 40px;
  margin-top: 55px;
  padding: 10px;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 136px);
  &.expanded {
    margin-left: 168px;
    
    // width: calc(100% - 60px);
    // width: 200px; // Expanded width on hover
   
  }
  @media screen and (max-width: 768px) {
    margin-left: 0 !important;
    width: 100%;
    padding: 5px;
  }
  // Extra small devices (e.g. phones)
  @media screen and (max-width: 480px) {
    margin-left: 0 !important;
    width: 100%;
    padding: 5px;
  }
}

.efl-main-nav {
  .navbar-item {
    font-size: 1.2em;
  }
}
.header-brand-logo {
  margin-bottom: 10px;
  padding: 10px;
 
  height: 50px;
  img {
    height: 100%;
    display: block;
    object-fit: fill !important;
  }
}

/*** side nav styles ***/
// Base sidenav styles
.smart-sidenav {
  width: 60px; // Shrinked width
  height: 100vh;
  // background-color: #91076d;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  transition: display 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.5), 8px 0 20px rgba(0, 0, 0, 0.15);


  &.expanded {
    width: 200px; // Expanded width on hover
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      width: 200px;
      display: flex;
      z-index: 1001;
    }
    // Extra small devices (e.g. phones)
    @media screen and (max-width: 480px) {
      position: fixed;
      top: 0;
      width: 250px;
      display: flex;
      z-index: 1001;
      background-color: rgba(0, 0, 0,.9);
    }
  }
  .brand-logo {
    // height:60px;
    margin-bottom: 10px;
    padding: 10px;
    // background-color: #ffffff; 
    background-color: rgb(0,0,1);
    // filter: blur(5px);
  // background-color:rgba(46,44,27,1);
    height: 60px;
    img {
      height: 100%;
      display: block;
      object-fit: fill !important;
    }
  }
  &.expanded .brand-logo img {
    max-width: 100%;
  }
  .sidenav-link {
    width: 100%;
    padding: 9px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: #91076d;
      border-top: 1px solid #91076d;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      border-radius: 10px;
    }
    .icon {
      font-size: 24px;
      margin-right: 16px;
      // margin-top: 5px;
    }
    .link-text {
      display: none; // Initially hidden
    }
    &.active-link {
      background-color: rgba(0, 0, 0, 0.8);
      color: #91076d;
      border-radius: 10px;
    }
  }
  // Show the text when sidenav is expanded
  &.expanded .link-text {
    display: inline-block;
  }

  // Mobile view styles
  @media screen and (max-width: 768px) {
    display: none;
  }

  // Extra small devices (e.g. phones)
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.smart-elf-notification .dropdown-content {
  border: 1px solid #1c04f0;
  font-size: 14px;
  padding: 0 !important;
  width: 360px !important;
}
.navbar-item,
.navbar-link {
  position: relative !important;

  .smart-elf-notification {
    span {
      .user-bade {
        background-color: #f427c0 !important;
        border-radius: 50% !important;
        color: #fff;
        font-size: 12px;
        padding: 0 5px;
        //   position: absolute;
        //   right: -5px;
        //   top: -15px;
        z-index: 10;
      }
    }
  }
}

.smart-efl-container {
  // Mobile view styles
  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }
}
.sd-efl-modal {
  .modal-card {
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
}
