.smart-list-items{
padding: 5px 10px !important;
position: relative;
}

.smart-menu-list li:nth-child(9){
  
    position: absolute;
    bottom: 10%;

   
}
.smart-menu-list li:nth-child(10){
 
    position: absolute;
    bottom: 5%;

  
}
.smart-menu-list li:nth-child(11){
 
    position: absolute;
    bottom: 0%;
    
   
}
.smart-ef-sub-layout-main-container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.smart-ef-header-container{
    background-color: black;
    width: calc(100vw - 200px);
    /* padding: 10px ; */
    color: white;
    position: fixed;
    margin-left: 200px;
    z-index: 10;
    
}
.smart-ef-header-container-open{
    background-color: black;
    width:100vw;
    /* padding: 20px; */
    color: white;
    position: fixed;
    margin-left: -26px;
 
   
}
.smart-middle-container{
    padding: 10px;
    margin-left: 200px;
    width: calc(100vw - 200px);
    padding-top: 70px;
    z-index: 100;
   /* background: url("../assets/images/7413568.jpg"); */
   /* background: url("../assets/images/glass-ef.jpg"); */
   background: #ebebe9;
   min-height: 100vh;
}
.smart-middle-container-open{
    padding: 10px;
    margin-left: 20px;
    width: calc(100vw - 20px);
    padding-top: 70px;
    z-index: 100;

   background: #ebebe9;
   min-height: 100vh;
}
.smart-side-nav-menu{
    position: fixed;
    border-right: none !important;
}
.smart-side-nav-menu-open{
    width: 25px;
    margin-top:70px ;
}
.smart-el-header-icon-image img{
    height: 100%;
    width: 100%;
}
.smart-el-header-icon-image{
    height: 30px;
    width: 150px;
}
.smart-list-items-open:hover{
    padding: 0;
    color: red !important;
}
.smart-top-header-title{
    font-size: 2rem;
    margin-left: 10px;
    font-family: Fresca;
    color: #00a85a;
    font-weight: 900;
}
.smart-header-dropdown-menu{
    width:100px !important;
   
    border-radius: 10px;
    border: 1px solid #00a85a;
   padding:10px;
    background: white;
    left: -90% !important;
 
    top: 117% !important;
}
.smart-header-dropdown-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

