@import '../variables';
.sd_efl-calender {
    .calendar-body{
        .calendar-weekdays{
            .calendar-weekday{
                background-color:rgba(0,0,0,.4);
                color:#ffffff;
                margin-bottom: 0;
                border: 1px solid white;
                &:nth-child(1){
                    border:1px solid white;
                }
              
            }
        }
    }
    .calendar-days {   
        .calendar-day--future{
            background-color: rgba(255, 244, 244, 0.208) ;
            color: white;
           
        }     
        .calendar-day {
            align-items: center;
            display: flex;
            justify-content: center;
            &:hover .calender-div{
                text-decoration: underline;
                i{
                    color:red;
                }
            }
            .calender-div{
                font-size: 1.5em;
                color:blue;
                cursor:pointer;              
                i{
                    color:$primary-color;
                    font-size: 1.5em;
                }
            }
        }
    }
}