@import '../variables';
.sd_efl-calender {
    .calendar-body{
        .calendar-weekdays{
            .calendar-weekday{
                background-color:$secondary-color;
                color:#ffffff;
                margin-bottom: 0;
              
            }
        }
    }
    .calendar-days {        
        .calendar-day {
            align-items: center;
            display: flex;
            justify-content: center;
            &:hover .calender-div{
                text-decoration: underline;
                i{
                    color:red;
                }
            }
            .calender-div{
                font-size: 1.5em;
                color:blue;
                cursor:pointer;              
                i{
                    color:$primary-color;
                    font-size: 1.5em;
                }
            }
        }
    }
}